body {
    text-align: center;
    background-color: cornsilk;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: purple;
    font-size: 100px;
}

h1 {
  margin-left: 0;
  margin-right: 0;
  margin: 10;
  padding: 10;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color:pink;
  color:hotpink;
  font-size:50px;
  color:transparent;
  -webkit-text-stroke: 1px white;
  text-shadow: -4px -4px  hotpink;
  font-weight: 600;
  text-transform: uppercase;
}

#noughts-and-crosses {
  margin: 0 auto;
  padding: 0;
  width: 62vh;
  height: 62vh;
  background: pink;
}

#playerDiv {
  font-size: 30px;
  padding: 30px;
}

#scoreboard {
  padding: 10px;
  border: solid hotpink;
  border: 5px;
  font-size: 30px;
}


.row {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}

.cell {
  background: hotpink;
  margin: 5px;
  flex:1 0; /*1 means cells grow equally and 0 is dont shrink */
}

.cell:before {
  content: '';
  float: left;
  padding-top: 100%;
}

.cell:hover {
  background-color: plum;
}




